<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles/Styles.css">
  <title>Клиент</title>
</head>
<body>
<div class="container-fluid" style="width: 50%;">
  <div class="row tableRow tableHeaderRow"> <!-- Заголовок -->
    <div class="col-sm-1 tableVerticalLineRight">
      <a href="../../index">Главная страница</a>
    </div>
    <div class="col-sm tableVerticalLineRight">
      <a href="../../cars">Автомобили</a>
    </div>
    <div class="col-sm tableVerticalLineRight">
      <a href="../../orders">Заказы</a>
    </div>
    <div class="col-sm-1 tableVerticalLineRight">
      <a href="../../clients">Клиенты</a>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
  </div>
</div>

<div class="col-sm tableButtonBlock" style="text-align: right;">
  <form method="post" action="/clients/delete" class="inlineForm">
    <input type="hidden" name="id" th:value="${client.id}">
    <button type="submit" class="internalButton deleteButton">Удалить из базы</button>
  </form>
</div>

<p class="pageName">Личные данные клиента </p>
<form method="post" th:action="@{/client/edit}" class="container-fluid">
  <div class="row tableRow">
    <div class="col-sm-1 info tableVerticalLineRight">Фамилия Имя Отчество:</div>
    <div class="col-sm">
      <input type="text" name="name" th:value="${client.fullName}" class="internalButton info" id="nameInput">
    </div>
  </div>
  <div class="row tableRow">
    <div class="col-sm-1 info tableVerticalLineRight">Адрес электронной почты: </div>
    <div class="col-sm">
      <input type="text" name="email" th:value="${client.email}" class="internalButton info" id="mailInput">
    </div>
  </div>
  <div class="row tableRow">
    <div class="col-sm-1 info tableVerticalLineRight">Адрес: </div>
    <div class="col-sm">
      <input type="text" name="address" th:value="${client.address}" class="internalButton info" id="addressInput">
    </div>
  </div>
  <div class="row tableRow">
    <div class="col-sm-1 info tableVerticalLineRight">Телефон: </div>
    <div class="col-sm">
      <input type="text" name="phone" th:value="${client.phone}" class="internalButton info" id="phoneInput">
    </div>
  </div>
  <div class="row tableRow">
    <div class="col-sm">
      <input type="hidden" name="id" th:value="${client.id}" class="internalButton info" id="idInput">
      <button type="submit" class="internalButton" id="editButton">Изменить</button>
    </div>
  </div>
  <div class="row tableRow"></div>
</form>

<div class="col-sm tableButtonBlock" style="text-align: right;">
  <form method="post" action="/orders" class="inlineForm">
    <input type="hidden" name="id" th:value="${client.id}">
    <button type="submit" class="internalButton"> Заказы </button>
  </form>
</div>

</body>
</html>