<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/Styles.css">
    <title>Клиенты</title>
</head>
<body>
<div class="container-fluid" style="width: 50%;">
    <div class="row tableRow tableHeaderRow"> <!-- Заголовок -->
        <div class="col-sm-1 tableVerticalLineRight">
            <a href="../index">Главная страница</a>
        </div>
        <div class="col-sm tableVerticalLineRight">
            <a href="../cars">Автомобили</a>
        </div>
        <div class="col-sm tableVerticalLineRight">
            <a href="../orders">Заказы</a>
        </div>
        <div class="col-sm-1 tableVerticalLineRight">
            <a href="../clients">Клиенты</a>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
    </div>
</div>
<div class="col-sm tableButtonBlock" style="text-align: right;">
    <a href="../newClient">
        <button class="internalButton" id="addClient">Добавить нового клиента</button>
    </a>
</div>
<div class="container-fluid" style="width: 75%;">
    <div class="row">
        <div class="col-sm" style="text-align: left;">
            <p></p>
        </div>
        <div class="col-sm" style="text-align: left;">
            <form method="get" action="/clients">
                <input type="text" placeholder="ФИО" name="name">
                <input type="text" placeholder="Почта" name="email">
                <input type="text" placeholder="Телефон" name="phone">
                <button type="submit" id="findModels">Поиск</button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid" style="width: 100%;">
    <div class="row tableRow tableHeaderRow">
        <div class="col-sm tableVerticalLineRight">
            <p class="tableText">ФИО</p>
        </div>
        <div class="col-sm tableVerticalLineRight">
            <p class="tableText">Адрес</p>
        </div>
        <div class="col-sm tableVerticalLineRight">
            <p class="tableText">Телефон</p>
        </div>
        <div class="col-sm-1 tableVerticalLineRight">
            <p class="tableText">Электронная почта</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
    </div>
    <div th:each="client : ${clientList}">
        <div class="row tableRow" id="contentRow">
            <div class="col-sm tableVerticalLineRight">
                <p th:text="${client.fullName}" class="tableText" id="nameShow"></p>
            </div>
            <div class="col-sm tableVerticalLineRight">
                <p th:text="${client.phone}" class="tableText" id="phoneShow"></p>
            </div>
            <div class="col-sm-1 tableVerticalLineRight">
                <p th:text="${client.email}" class="tableText" id="mailShow"></p>
            </div>
            <div class="col-sm-1 tableButtonBlock tableVerticalLineRight">
                <form method="get" action="/client" class="inlineForm">
                    <input type="hidden" name="id" th:value="${client.id}">
                    <button class="internalButton" id="infoButton">Информация</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>