<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <link rel="stylesheet" type="text/css" href="/styles/dist/css/bootstrap.min.css">
</head>
<body>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/index">Главная страница</a> <!-- активная ссылка -->
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/brands">Бренды</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/clients">Клиенты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cars">Автомобили</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/orders">Заказы</a>
    </li>
</ul>

<div class="row">
    <div class="col" style="width: 100%; text-align: right; margin-right:20px;">
        <h2><a href="/index">Автосалон</a></h2>
        <p><img src="/styles/72078436_s .jpeg" width="300" alt="">Сайт автосалона </p>
    </div>
</div>
<h1 align="center"> Упс! Что-то пошло не так... </h1>
<p th:inline="text" class="tableText" id="warningShow">
    Нельзя поменять [[${changeValue}]] с [[${oldValue}]] на [[${newValue}]], так как в базе уже существует [[${preValue}]]
</p>
<p></p>
</body>
</html>